div.headings {
  text-align:center;
}

iframe {
display:block;
margin: 0 auto;
}

.lyrics {
text-align:center;
font-family: 'Josefin Sans', sans-serif;
}

button {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid #b9f2ff;
    margin: 0 auto;
}
body {
  background-image: url("assets/background.jpg");
  background-color: #cccccc;
}
p.lyrics b{
color: blue;
  
}
