body {

  font-family: 'Poppins', sans-serif, 'Verdana';
  font-size:18;
  font-weight:lighter;
  color: rgb(105,105,105);
}
a {
  font-style:"italic"
}
a:link {
   color: #f1c40f;
}
a:visited {
   color: #33db24;
}
a:hover {
   color: #ff05a9;
}
ul { 
  font-weight:500;
  display:table; 
  margin:0 auto;
}
ol {
  font-weight:500;
  display:table; 
  margin:0 auto;
}
h1:{
  font-weight:800;
  color:"black"
}
h2:{
  font-weight:800;
  color:"black"
}
