p {
color:white;
text-color:white;
}
h1 {
color:white;
}
h2 {
color:white;
}
small {
color:white;
}
hr {
  color: white;
  background-color: white;
  border:none;
  height:1px;
}

body {
color:white;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  border: 1px solid #555;

}
li.nav a.navlink {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
a:hover.navlink {
  background-color: #555;
  color: white;
}
.navlink.active {
  background-color: #4CAF50;
  color: white;
}

.nav li {
  text-align: center;
  border-bottom: 1px solid #555;
}

.nav li:last-child {
  border-bottom: none;
}
