p {
color:white;
text-color:white;
font-size:16px;
}
h1 {
color:white;
}
h2 {
color:white;
}
small {
color:white;
}
hr {
  color: white;
  background-color: white;
  border:none;
  height:1px;
}

body {
color:white;
  background-color: #00487C;
}

.card-body {
background-color: #00487C;
}
