p {
color:white;
text-color:white;
}
h1 {
color:white;
}
h2 {
color:white;
}
small {
color:white;
}
hr {
  color: white;
  background-color: white;
  border:none;
  height:1px;
}

body {
color:white;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
.nav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.nav li a:hover {
  background-color: #555;
  color: white;
}
.nav .active {
  background-color: #4CAF50;
  color: white;
}
.nav ul {
  border: 1px solid #555;
}

.nav li {
  text-align: center;
  border-bottom: 1px solid #555;
}

.nav li:last-child {
  border-bottom: none;
}
