body {
  font-family: "Chakra Petch", sans-serif, "Verdana", sans-serif;
  text-align: center;
}
ul { 
  font-weight:500;
  display:table; 
  margin:0 auto;
  list-style:none;
}
ul li::before {
  content: "\047C";  
  color: orange; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}
ol {
  font-weight:500;
  display:table; 
  margin:0 auto;
  list-style:none;
}
ol li::before {
  content: "\047C";  
  color: orange; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}
p {
font-weight:300
}
